* {
  margin: 0;
  padding: 0;
  border: 0;
}
.cover {
  height: 20rem;
}
#bookshelf {
 // background-image: url("img/wood.jpg");
  width: 80%;

  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
.cardBook {
  height: 34rem;
  width: 18rem;
  margin: 5rem;
  text-align: center;
  border: (1px solid black);
  padding: 2rem;
  -webkit-box-shadow: -1px 27px 38px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 27px 38px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 27px 38px 5px rgba(0, 0, 0, 0.75);
  //background-image: url("img/wood.jpg");
}
h3 {
  margin-top: 2rem;
  color: rgb(255, 183, 0);
}
.divcover {
  text-align: center;
  width: 14rem;
  margin: auto;
}
main {
  padding-top: 10rem;
  display: flex;
}
#search {
  width: 15%;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: column;
}
.form-control.search-slt {
  margin-top: 2rem;
}
.btn.btn-danger.wrn-btn {
  margin-top: 4rem;
}

  
  #pagenav {
  width: 6rem;
  margin: 2rem auto; 
  
}
[name="gotopage"] {
  width: 1.3rem;
  height: 1.3em;
  background-color: lightblue;
  color: rgba(53, 21, 12, 0.993);
  border: 1px solid lightgray;
  padding: 0.8rem;
  line-height: 0rem;
  
}
#modify{
  padding:1rem;
  margin-left: 1rem;
  background-color: red;
}
#actionbuttons{
  display:flex;

}