* {
  box-sizing: border-box;
  transition-duration: 0.3s;
}
*:not(input) {
  border: none;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: lightblue;
}
header .a,
.half .a {
  text-decoration: none;
  color: black;
  background-color: darkgray;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.2rem;
}
ul {
  margin-top: 5rem;
  list-style: none;
}
li {
  padding: 1rem 0;
}
.formLogin {
  width: 24rem;
  padding: 2rem;
  margin: 5rem auto;
  background-color: lightblue;
  border-radius: 1rem;
}
.center {
  width: 50%;
  padding: 2rem;
  margin: 0rem auto;
}
.half {
  width: 50%;
}
.formLogin input,
.formLogin textarea {
  display: block;
  width: 20rem;
}
.formLogin [type='submit'] {
  margin-top: 1rem;
}
.bodyLogin {
  height: 100vh;
  display: flex;
}
.error {
  color: red;
}
.cart {
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.cart span {
  padding: 0.3rem;
}
.bestSeller {
  width: 100%;
}
.booksBestSellers {
  display: flex;
  width: 100%;
}
.title {
  display: block;
  font-size: 4rem;
  text-align: center;
}
.listBook {
  text-decoration: none;
  color: black;
  background-color: darkgray;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.2rem;
}
.flex {
  display: flex;
}
.button {
  padding: 1rem;
}
